/*Error messages*/
.field-validation-error {
    font-weight:bold;
    color:red;
}

.jumbotron {
    background-color:gray;
}
label {
    color:black;
}
.primary {
    font-weight:bold;
}
.labelName{
    color:black;
}

